body{
  margin:0;
  background-size: cover;
  background-image: url("../img/Fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #669999;
  width: 100%;
  height: 100%;
  font-size: 16px;
  }
.contain{background: #0480bc;
  position: absolute;
  width: 400px;
  height: 410px;
  left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5%;
  }
  .imge{
    position: absolute;
    left: 133px;
      top: -18%;
  }
  .tit{
    color: white;
    margin-top: 70px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;

  }
  .login-form{
    background-color: #e6e7e9;
    margin: 2.5%;
    display: block;
    height: 288px;
  }
  .form-group1{
    height: 50px;
    width: 94%;
    margin: 5% 2.5%;
    display: inline-flex;
  }
  .imgu{
  align-self: center;
    margin: 3px 6px;
  }
  .form-group2{
    height: 50px;
    width: 94%;
    margin: 5% 2.5%;
    display: inline-flex;
  }
  .imgp{
  align-self: center;
    margin: 3px 6px;
  }
  .form-control{
    font-size: 16px;
    width: 100%;
  }
  .btn{
    font-size: 18px;
    color: white;
    background-color: #00adef;
    height: 50px;
    width: 70%;
    margin: 5% 0;
  }
  .bt{
  text-align: center;
    width: 94%;
    align-self: center;
    margin: 5% 2.5%;
  }
.col-md-3{color: white !important;}
/*
cambios
renombrar index.php de htdocs
copiar el nuevo
agregar en index de public
<style media="screen">
  .col-md-3{color: white !important;}
</style>
agregar imagenes a carpeta img
agregar css
